/*
*   Основные мои стили
*   для страницы
*/






body{
    font-family: 'Roboto';
    background: #eeeeee;
}
.color-green{
    color: #4BB09D;
}
.color-red{
    color: #e76e6a;
}
.color-grey{
    color: #959595;
}
.glyphicon-check{
    color: yellow;
}
.glyphicon-user{
    color: green;
}

/*  Второе меню  */
#second-menu{
    width: 100%;
    background: #4BB09D;
    margin-top: 50px;
    padding-bottom: 10px;
}
#second-menu img{
    margin-top: 20px;
}
#second-menu a{
    color: #fff;
    margin-right: 50px;
    font-size: 18px;
    text-decoration: none;
}

/*    Блок сервис    */
#service{
    padding-top: 20px;
}
#service p.text-center{
    font-size: 22px;
}
#service p.color-grey{
    font-size: 14px;
    margin-bottom: 10px;
}

/*  Блок Лучшие из лучших  */
#best-of-the-best p.text-center{
    font-size: 22px;
}
#best-of-the-best p.color-grey{
    font-size: 14px;
    margin-bottom: 10px;
}
#best-of-the-best .col-md-3{
    
    padding: 0 10px 0 0;
    font-size: 12px;
    margin-top: 10px;
}
#best-of-the-best .col-md-3 img{
    margin-right: 15px;
}
#best-of-the-best .info{
    padding: 10px;
    height: 100px;
    background: #fff;
}
.work{
    padding: 10px;
    background: #4BB09D;
    color: #fff;
    height: 65px;
}

/*  Блок с проектами  */
#project{
    padding-top: 20px;
}
#project p.text-center{
    font-size: 22px;
}
#project p.color-grey{
    font-size: 14px;
    margin-bottom: 10px;
}
.project{
transition: all 300ms ease-in-out;
    background: #fff;
    padding: 15px;
    font-size: 10px;
    margin-bottom: 10px;
}
.project:hover{
    border-top: 5px solid #fff;
	transition: all 300ms ease-in-out;
}
.border-top-green{
    border-top: 5px solid #4BB09D;
}
.border-top-red{
    border-top: 5px solid #f15656;
}
#project img{
    display: inline;
}
#project h4{
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 1.5em;
}
#project .only{
    margin-right: 10px;
}
#project .price{
    font-size: 14px;
}


footer{
    padding-top: 50px;
    height: 150px;
    background: #202020;
    color: #fff;
    font-size: 12px;
}
footer a{
     color: #fff;   
}
footer img{
    margin-right: 20px;
}
a:hover{
    text-decoration: none;
}