/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/

#wrapper .d-carousel ul li {
	background: none;
	background-color: #FFF;
	-webkit-box-shadow: 0px 1px 2px 0px #b7b7b7;
	-moz-box-shadow: 0px 1px 2px 0px #b7b7b7;
	box-shadow: 0px 1px 2px 0px #b7b7b7; 
	width: 200px;
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel h4 {
	margin: 5px 0 5px 0;
}

.d-carousel .jcarousel-container {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}

.d-carousel .jcarousel-item {
transition: all 300ms ease-in-out;
	width: 200px;
	height: 300px;
    font-size: 13px;
    color: #555;
    border-bottom: 5px solid #4BB09D;
}
.d-carousel .jcarousel-item:hover{
    border-bottom: 5px solid #fff;
	
	transition: all 300ms ease-in-out;
	
}
.d-carousel .jcarousel-item p{
    padding: 10px;
	padding-bottom: 0px;
}
.d-carousel .jcarousel-item span{
    
}
.d-carousel .jcarousel-container-horizontal {
	width: 100%;
	height: 325px;
	padding: 0 45px;
}

.d-carousel .jcarousel-item-horizontal {
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 11px;
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute;
	top: 149px;
	right: 0;
	margin-right: 3px;
	width: 15px;
	height: 28px;
	cursor: pointer;
	background: transparent url(style/images/blog-arrows.jpg) no-repeat top right;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(style/images/blog-arrows.jpg);
}

.d-carousel .jcarousel-next-horizontal:hover {
	background-position: bottom right;
}

.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
	top: 149px;
	left: 0;
	margin-left: 3px;
	width: 15px;
	height: 28px;
	cursor: pointer;
	background: transparent url(style/images/blog-arrows.jpg) no-repeat top left;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(style/images/blog-arrows.jpg);
}

.d-carousel .jcarousel-prev-horizontal:hover {
	background-position: bottom left;
}

.current {font-size:150% !important; margin-right:20px !important;}


#second-menu {font-weight:300;}

.submen a{font-size:100%  !important;}

.login {background:#1e2120;}

.clean {padding-top:10%; text-align:center; overflow:hidden; height:800px;}

.auth-inp {padding:7px;  border:0; border-bottom: 3px solid #2e9977; border-radius:3px; display:block; margin:auto; margin-bottom:20px;}


.in-button {transition: all 300ms ease-in-out; padding:10px; background:#2e9977; color:white; text-decoration:none; border-radius:25px; padding-left:30px; padding-right:30px; border:0 !important;}
.in-button:hover {transition: all 300ms ease-in-out; color:white; background:#076c4c; border:0 !important;}

.restore {color:gray; padding-left:10px;}
.restore:hover {color:white;}

.otstup {padding-top:15px;}

.top-links {color:white; padding:20px; font-size:150%; font-weight:300;}
.top-links a {color:gray; font-weight:300; font-size:14px;}
.top-links a:hover {color:white;}
.top-links  a.current {color:white}



.top-links2 {color:white; padding:20px; font-size:120%; font-weight:300;}
.top-links2 a {color:gray; font-weight:300; font-size:14px;}
.top-links2 a:hover {color:white;}
.top-links2  a.current {color:white}



.cap-link {font-size:12px; color:#2e9977;}
.cap-link:hover {color:#076c4c;}

a {transition: all 300ms ease-in-out;}
a:hover {transition: all 300ms ease-in-out;}

.mini-line {width:30px; border-top:1px solid white; margin:auto; position:relative; top:-17px;}

.osebe {width:390px; position:relative; left:-10px; border:none; border-bottom: 3px solid #2e9977; border-radius:3px; padding:5px;}

.reg-form  h3 {color:white; font-family:Roboto; font-size:15px; font-weight:300;}

.block1 
{
width:390px;
left:-10px; position:relative;
margin:auto;
text-align:left;
}

.none {display:none;}

label {font-weight:300;}

#yw0{float:left;}
.gray {color:#808080;}

.green {color:#2e9977;}



.whitecheck { width:14px; height:14px; float:left; cursor:pointer;
    background: url('/design/chksprite.png') 0 0 no-repeat;
    
}
.whitechecked  {width:14px; height:14px;float:left;cursor:pointer;
	background: url('/design/chksprite.png') 0 0 no-repeat;
    background-position:  -16px 0;
}

.pointer {cursor:pointer}

#yw1 li {display:inline-block; list-style:none;}

.addcomment{
	position:relative; top:-10px;
    background: #4BB09D;
    padding: 45px;
    font-size: 10px;
    margin-bottom: 10px;
}

.addcomment input[type=text] {padding:5px;font-size:12px; border:1px solid #1f9978; border-radius:5px; width:600px; position:relative; right:-5px;}

.combutton {background:#1f9978; color:#white; padding:6px; border-radius:0 20px 20px 0; color:white; font-size:12px; padding-right:20px; padding-left:15px;}

#moy-cabinet {height:400px; margin-top:-400px; text-align:center;}

.ots {height:30px;}
